import 'package:jaspr/jaspr.dart';

// import '../components/counter.dart';

class Home extends StatelessComponent {
  const Home({super.key});

  @override
  Iterable<Component> build(BuildContext context) sync* {
    yield section([
      // img(src: 'images/logo.svg', width: 80),
      h1([text("Hello, I'm Daazed McFarland!")]),
      // p([text("")]),
      div(styles: Styles(height: 100.px), []),
      // const Counter(), // Flutter embeded
      button(
          classes: 'btn btn-primary',
          [
            text("Let's Talk"),
            i(
                classes:
                    "fa-solid fa-arrow-right ml-2 ease-in-out duration-300 group-hover:translate-x-1]",
                [])
          ],
          onClick: () {}),
    ]);
  }
}
